<!--  List -->
<div id="list1" *ngIf="request" class="card">
  <div class="card-body">
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Requests.Edit.ApplicationDetails'"></h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Requests.Edit.Code'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.code }}</span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary text-uppercase" [lang]="currentLang" [translate]="'Requests.Preview.DateCreated'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.dateCreated | localizedDate: 'short' }}</span>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Requests.Edit.Type'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ 'Forms.' + request?.additionalType | translate}}</span>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Requests.Edit.Status'"></span>
      </div>
      <div class="col-7">
              <span [ngClass]="{'text-primary': request?.actionStatus?.alternateName ==='PotentialActionStatus',
                                  'text-danger': (request?.actionStatus?.alternateName ==='FailedActionStatus') || request?.actionStatus?.alternateName ==='CancelledActionStatus',
                                  'text-success': request?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-purple': request?.actionStatus?.alternateName ==='ActiveActionStatus'}">
                {{ 'ActionStatusTypes.' + request?.actionStatus?.alternateName | translate}}
              </span>
      </div>
    </div>

    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Requests.Edit.StudentDetails'"></h5>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.GivenName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.student?.person?.givenName}}</span>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.FamilyName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.student?.person?.familyName}}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.StudentIdentifier.short'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark"><a href="/#/students/{{request?.student?.id}}/dashboard/overview">{{ request?.student?.studentIdentifier}}</a></span>
      </div>

    </div>
    <div class="form-group row" *ngIf="request?.student?.uniqueIdentifier">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.UniversityId'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.student?.uniqueIdentifier}}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.Status'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ 'StudentStatuses.' + request?.student?.studentStatus?.alternateName | translate}}</span>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.inscriptionYear'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ request?.student?.inscriptionYear?.alternateName}}</span>
      </div>
    </div>
  </div>
</div>
