<!-- <div *ngIf="model">
  <div *ngIf="model.length != 0">
    <div class="row mt-2" *ngFor="let request of model;index as i;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
            <span class="mr-2">{{ request.dateCreated | date : 'shortDate' }} </span>
            <span class="mr-2">{{ 'Forms.' + request.additionalType | translate }} </span>
            <span class="font-lg align-text-bottom" [ngClass]="{'text-primary': request?.actionStatus?.alternateName ==='PotentialActionStatus',
                                  'text-danger': (request?.actionStatus?.alternateName ==='FailedActionStatus') || request?.actionStatus?.alternateName ==='CancelledActionStatus',
                                  'text-success': request?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-primary': request?.actionStatus?.alternateName ==='ActiveActionStatus'}">
              {{'ActionStatusTypes.' + request.actionStatus.alternateName | translate }}
            </span>
          </card-header>
          <card-body>
            <app-requests-preview-form [model]="request"></app-requests-preview-form>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <p class="card-text" [translate]="'Requests.NoRequests'"></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div> -->

<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="requests">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.Requests'"></span>
      </div>
    </div>
    <!-- <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.classes && this.classes.selected && this.classes.selected.length"
          class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Instructors.RemoveClass'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Instructors.AddClass'"></span>
        </a>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="true" #requests [showFooter]="false" (load)="onDataLoad($event)" [height]="600"
        [config]="config"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
