<div *ngIf = "class">
<div class="card"  *ngIf="class.sections.length != 0">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-2 my-auto" [translate]="'Classes.ClassSections'"></h5>
    <a href="/#/classes/{{this._activatedRoute.snapshot.params.id}}/dashboard/sections"  class="text-primary my-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
  </div>
  <div class="card-body pt-0" >
    <div id="group-list"  class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Classes.SectionName'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Classes.MaxNumberOfStudents'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Classes.Instructors'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let section of class.sections">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ section.name }}</div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left">{{ section.maxNumberOfStudents }}</div>
            <div *ngIf="section.instructors && section.instructors.length>0" class="sis--list-group-item_sm_column d-none d-lg-block text-left">
              <span  *ngFor="let instructor of section.instructors; let isLast=last">
                <a href="#/instructors/{{instructor?.instructor?.id}}/dashboard/overview">{{ instructor.instructor.familyName }} {{ instructor.instructor.givenName }}{{isLast ? '' : ', '}}</a>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="class.sections.length == 1; else MoreClasses">
      <span>{{ class.sections.length}} <span  [translate]="'Courses.Class'"></span></span>
    </div>
    <ng-template #MoreClasses>
      <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
        <span>{{ class.sections.length}} <span  [translate]="'Courses.Classes'"></span></span>
      </div>
    </ng-template>
  </div>
</div>
  <div  *ngIf="class.sections?.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-2 my-auto" [translate]="'Classes.ClassSections'"></h5>
        <a href="/#/classes/{{this._activatedRoute.snapshot.params.id}}/dashboard/sections"  class="text-primary my-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Classes.NoSections'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
