<div class="row mt-4" *ngIf="classes">

  <div class="col-lg-9 col-md-8 col-sm-12 mt-2">

    <div *ngFor="let semester of classes | groupBy: 'semester.alternateName' | values">

      <h4 class="text-secondary">{{ 'Students.Semester' | translate }}: {{ semester[0].semester.alternateName }}</h4>

      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_lg_column" [translate]="'Registrations.Course.label'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Registrations.Course.displayCode'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block" [translate]="'Registrations.Course.Instructor'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Registrations.Course.courseSector'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Registrations.Course.courseType'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block" [translate]="'Registrations.Course.class'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Registrations.Course.units'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">ECTS</div>
          </div>
        </li>
      </ul>

      <ul class="sis--list-group sis--list-group-body mb-5">

        <li *ngFor="let class of semester | orderBy: 'course.displayCode'" class="sis--list-group-item">

          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">{{ class.courseClass.title }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">{{ class.course.displayCode }}</div>
            <div *ngIf="class.courseClass.instructors && class.courseClass.instructors.length>0" class="sis--list-group-item_md_column d-none d-md-block">
              <span  *ngFor="let instructor of class.courseClass.instructors; let isLast=last">
                {{ instructor.instructor.familyName }} {{ instructor.instructor.givenName }}{{isLast ? '' : ', '}}
              </span>
            </div>
            <div *ngIf="!class.courseClass.instructors || class.courseClass.instructors.length==0" class="sis--list-group-item_md_column d-none d-md-block">-</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">{{ class.course.courseSector? class.course.courseSector.abbreviation : '-' }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block">{{ class.courseType? class.courseType.abbreviation : '-' }}</div>
            <div class="sis--list-group-item_md_column d-none d-md-block">{{ class.sectionName || '-' }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">{{ class.units }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">{{ class.ects }}</div>
          </div>

        </li>

      </ul>

    </div>

    <div *ngIf="classes.length==0">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <p class="card-text" [translate]="'Registrations.Course.nocourse'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-lg-3 col-md-4 col-sm-12 mt-2">

    <div class="card">
      <div class="card-body">

        <h5 class="card-title font-lg font-weight-normal pb-4 text-center">{{ 'Registrations.Card.Title' | translate }}</h5>

        <div class="row card-text text-dark font-lg font-weight-dark">
          <div class="col-9" [translate]="'Registrations.Card.Courses'"></div>
          <div class="col-3 text-right">{{ classes.length }}</div>
        </div>
        <div class="row card-text" *ngIf="totals">
          <div class="col-9" [translate]="'Registrations.Card.Units'"></div>
          <div class="col-3 text-right">{{ totals.sumUnits || 0}}</div>
        </div>
        <div class="row card-text" *ngIf="totals">
          <div class="col-9" [translate]="'Registrations.Card.ECTS'"></div>
          <div class="col-3 text-right">{{ totals.sumECTS || 0}}</div>
        </div>

      </div>
    </div>

  </div>

</div>
