<!-- <div *ngIf="model">
  <div *ngIf="model.length > 0">
    <div class="row mt-2" *ngFor="let exam of model;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
        {{exam?.examPeriod?.name}} {{exam?.year?.alternateName}}
            <span>&nbsp;</span>
            -
            <span *ngIf="exam?.status ||exam?.status ===0; else noStatus" [translate]="'ExamStatus.' + exam?.status?.alternateName"
                  [ngClass]="exam?.status?.alternateName === 'completed' ?'text-success':
                           exam?.status?.alternateName === 'closed' ?'text-danger':
                           exam?.status?.alternateName === 'inprogress' ?'text-color-theme ':'text-success'"></span>
            <span>&nbsp;</span>
            <ng-template #noStatus><span [translate]="'Theses.ThesisStatus.NoStatus'"></span></ng-template>
          </card-header>
          <card-body>
            <app-exams-preview-form [model]="exam"></app-exams-preview-form>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <a [routerLink]="['/exams', exam?.id, 'dashboard']" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
              </div>
            </div>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div class="mb-3" *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'Courses.NoExams'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div>
  <div class="row">
    <div class="col-12" [ngVar]="{courseID: courseID}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="classes">
        <advanced-search>
          <app-courses-classes-advanced-table-search [(filter)]="filter.value">
          </app-courses-classes-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #classes [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div> -->
<div>
<div class="row">
  <div class="col-12" [ngVar]="{courseID: courseID}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="exams">
      <advanced-search>
        <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
          [(filter)]="filter.value"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.Exams'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3 mt-3">
    <div class="font-lg btn-toolbar mt-3">
      <!-- <a *ngIf="this.exams && this.exams.selected && this.exams.selected.length"
         class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()" >
        <span>-</span><span>&nbsp;</span><span [translate]="'Courses.RemoveExam'"></span>
      </a> -->
      <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'exam/new'} }]" >
        <span>+</span><span>&nbsp;</span><span [translate]="'Courses.AddExam'"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table [selectable]="false" #exams [showFooter]="false" (load)="onDataLoad($event)" [height]="600" [config]="config"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>
</div>
