@media print {
    body {
      min-width: auto !important;
    }
  }
  
.report-list {
    .dataTables_wrapper {
        margin-left: -40px;
        margin-right: -40px;
    }
    table.dataTable tbody tr:first-child td:last-child {
        border-radius: 0px 0px !important;
    }
    table.dataTable tbody tr td:last-child {
        border-right: 0px !important;
    }
    table.dataTable tbody tr td:first-child {
        border-left: 0px !important;
    }
    table.dataTable {
        tbody {
            tr {
                cursor: pointer;
            }
            tr.selected {
                background-color: var(--gray-300) !important;
                i {
                    color: var(--gray-100) !important;
                }
                color: #FFF;
                .details {
                    color: var(--gray-200) !important;
                }
            }
        }
    }
}

div.report-card {
    // height: 320px;
    // overflow-y: auto;
    // overflow-x: hidden;
}

.form-check.checkbox {
    position: relative;
}
.pdf-viewer-custom-toolbar {
    right: 3rem;
    top: 5rem;
    z-index: 1;
    button {
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}
.pdf-viewer-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #sidebarContainer {
        top: 48px !important;
    }

    #viewerContainer {
        top: 48px !important;
    }

    #thumbnailView {
        width: 100%;
    }

    #toolbarSidebar {
        background-image: none !important;
    }

    /*#toolbarContainer {
        height: 48px;
        background-image: none !important;

        .dropdownToolbarButton, .overlayButton,
        .secondaryToolbarButton:focus,
        .secondaryToolbarButton:hover,
        .toolbarButton:focus,
        .toolbarButton:hover {
            background-image: none;
        }
        #toolbarViewer {
            height: inherit;
            .overlayButton, .secondaryToolbarButton, .toolbarButton {
                height: 40px;
                width: 40px;
            }

            .dropdownToolbarButton, .toolbarButton {
                margin-left: 0px;
                margin-right: 0px;
            }
            .toolbarField.pageNumber {
                height: 36px;
            }
            .dropdownToolbarButton>select {
                height: 36px;
                &::after {
                    top: 6px;
                }
            }
            .splitToolbarButtonSeparator {
                padding: 14px 0px;
                margin: 5px 5px;
            }
            .toolbarButton::before {
                top: 2px;
            }
            .toolbarLabel {
                margin: 4px 4px 4px 8px;
            }
            pdf-first-page, pdf-previous-page, pdf-next-page, pdf-last-page {
                margin-right: 3px !important;
                margin-left: 3px !important;
            }
            .dropdownToolbarButton::after {
                top: 6px;
            }
        }
    }*/
    &.hide-pdf-toolbar {
        pdf-toolbar {
            visibility: hidden;
        }
    }
}

.bd-modal.modal-pdf-viewer {
  .modal-backdrop {
    z-index: 1;
  }

  .modal {
    z-index: 1;
  }
}
