<ul *ngIf="registration && registration.classes && registration.classes.length>0" class="sis--list-group sis--list-group-header">
  <li class="sis--list-group-item">
    <div class="d-flex justify-content-center align-items-center">
      <div class="sis--list-group-item_lg_column" [translate]="'Students.CourseTitle'"></div>
      <div class="sis--list-group-item_md_column d-none d-md-block" [translate]="'Students.CourseDisplayCode'"></div>
      <div class="sis--list-group-item_lg_column d-none d-xl-block" [translate]="'Students.Instructor'"></div>
      <div class="sis--list-group-item_md_column d-none d-lg-block" [translate]="'Students.ExamPeriod'"></div>
      <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Students.CourseType'"></div>
      <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Students.Coefficient'"></div>
      <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Students.Εcts'"></div>
      <div class="sis--list-group-item_sm_column" [translate]="'Students.FormattedGrade'"></div>
    </div>
  </li>
</ul>
<ul class="sis--list-group sis--list-group-body">
  <li *ngFor="let classes of registration.classes" class="sis--list-group-item">
        <div class="d-flex justify-content-center align-items-center list-color">
          <div class="sis--list-group-item_lg_column">{{classes.course.name}}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block">{{classes.course.displayCode}}</div>
          <div class="sis--list-group-item_lg_column d-none d-xl-block">
            {{classes.courseClass.course.instructor && classes.courseClass.course.instructor.familyName || '-' }}
            {{classes.courseClass.course.instructor && classes.courseClass.course.instructor.givenName}}
          </div>
          <div class="sis--list-group-item_md_column d-none d-lg-block">{{classes.examPeriod && classes.examPeriod.name || '-' }}</div>
          <div class="sis--list-group-item_sm_column d-none d-md-block">{{classes.courseType.abbreviation}}</div>
          <div class="sis--list-group-item_sm_column d-none d-lg-block">{{classes.coefficient}}</div>
          <div class="sis--list-group-item_sm_column d-none d-md-block">{{classes.ects}}</div>
          <div class="sis--list-group-item_sm_column">{{classes.formattedGrade}}</div>
        </div>
  </li>
</ul>
