<form class="mt-3 collapsible-form">
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="displayCode" [translate]="'Exams.DisplayCode'"></label>
        <input [disabled]="true" class="form-control bg-white" id="displayCode" name="displayCode" type="text" [value]="model.course &&  model.course.displayCode">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="courseName" [translate]="'Exams.CourseName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="courseName" name="courseName" type="text" [value]="model.course && model.course.name">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="year" [translate]="'Exams.Year'"></label>
        <input [disabled]="true" class="form-control bg-white" id="year" name="year" type="text"  [value]="model.year && model.year.alternateName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="examPeriod" [translate]="'Exams.Period'"></label>
        <input [disabled]="true" class="form-control bg-white" id="examPeriod" name="examPeriod" type="text" [value]="model.examPeriod && model.examPeriod.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="numberOfGradedStudents" [translate]="'Exams.NumberOfGradedStudents'"></label>
        <input [disabled]="true" class="form-control bg-white" id="numberOfGradedStudents" name="numberOfGradedStudents" type="text" [value]="model.numberOfGradedStudents">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="status" [translate]="'Exams.Status'"></label>
        <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" [value]="'ExamStatus.' + model.status?.alternateName | translate">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="dateCompleted" [translate]="'Exams.DateCompleted'"></label>
        <input [disabled]="true" class="form-control bg-white" id="dateCompleted" name="dateCompleted" type="text" [value]="model.dateCompleted | date:'shortDate'">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="completedByUser" [translate]="'Exams.CompletedByUser'"></label>
        <input [disabled]="true" class="form-control bg-white" id="completedByUser" name="completedByUser" type="text" [value]="model.completedByUser && model.completedByUser.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="name" [translate]="'Exams.ExamName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="name" name="name" type="text" [value]="model.name">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="examDate" [translate]="'Exams.ExamDate'"></label>
        <input [disabled]="true" class="form-control bg-white" id="examDate" name="examDate" type="text" [value]="model.resultDate | date:'shortDate'">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="resultDate" [translate]="'Exams.ResultDate'"></label>
        <input [disabled]="true" class="form-control bg-white" id="resultDate" name="resultDate" type="text" [value]="model.resultDate | date:'shortDate'">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="decimalDigits" [translate]="'Exams.DecimalDigits'"></label>
        <input [disabled]="true" class="form-control bg-white" id="decimalDigits" name="decimalDigits" type="text" [value]="model.decimalDigits">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group text-dark">
        <label for="notes" [translate]="'Exams.Notes'"></label>
        <textarea [disabled]="true" class="form-control bg-white" id="notes" name="notes" type="text" [value]="model.notes"></textarea>
      </div>
    </div>
  </div>
</form>
