<div *ngIf="model">
  <div *ngIf="model.length > 0">
   <div class="row mt-2" *ngFor="let thesis of model;">
    <div class="col-12">
      <card-collapsible>
        <card-header>
          <span *ngIf="thesis?.type" [translate]="'Theses.ThesisType.' + thesis?.type?.alternateName"></span>
          <span>&nbsp;</span>
           -
          <span *ngIf="thesis?.status ||thesis?.status ===0; else noStatus" [translate]="'Theses.ThesisStatus.' + thesis?.status?.alternateName"
                [ngClass]="thesis?.status?.alternateName === 'completed' ?'open-grade':
                           thesis?.status?.alternateName === 'cancelled' ?'text-danger':
                           thesis?.status?.alternateName === 'paused' ?'text-danger':'text-color-theme'"></span>
          <span>&nbsp;</span>
          <ng-template #noStatus><span [translate]="'Theses.ThesisStatus.NoStatus'"></span></ng-template>
        </card-header>
        <card-body>
          <app-theses-preview-form [model]="thesis"></app-theses-preview-form>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <a href="#/theses/{{thesis?.id}}/preview/general" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
            </div>
          </div>
        </card-body>
      </card-collapsible>
    </div>
  </div>
</div>
<div class="mb-3" *ngIf="model.length == 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text"  [translate]="'Theses.NoTheses'"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
