<form class="mt-2 collapsible-form">
  <div class="row">
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="id" [translate]="'Students.studentIdentifier'"></label>
        <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
               [(ngModel)]="model.studentIdentifier">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="givenName" [translate]="'Students.GivenName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text"
               [(ngModel)]="model.person.givenName">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group text-dark">
        <label for="familyName" [translate]="'Students.FamilyName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text"
               [(ngModel)]="model.person.familyName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="fatherName" [translate]="'Students.FatherName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="fatherName" name="fatherName" type="text"
               [(ngModel)]="model.person.fatherName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="motherName" [translate]="'Students.MotherName'"></label>
        <input [disabled]="true" class="form-control bg-white" id="motherName" name="motherName" type="text"
               [(ngModel)]="model.person.motherName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="gender" [translate]="'Students.Gender'"></label>
        <input [disabled]="true" class="form-control bg-white" id="gender" name="gender" type="text"
               [(ngModel)]="model.person.gender.name">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group text-dark">
        <label for="nationality" [translate]="'Students.Nationality'"></label>
        <input [disabled]="true" class="form-control bg-white" id="nationality" name="nationality" type="text"
               [(ngModel)]="model.person.nationality.name">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group text-dark">
        <label for="userName" [translate]="'Students.UserName'"></label>
        <div *ngIf="model.user; else noUser ">
          <input [disabled]="true" class="form-control bg-white" id="userName" name="userName" type="text"
                 [(ngModel)]="model.user.name">
        </div>
        <ng-template #noUser><input [disabled]="true" class="form-control bg-white" id="userName2" name="userName"
                                    type="text"></ng-template>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group text-dark">
        <label for="studentStatus" [translate]="'Students.Status'"></label>
        <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus" type="text"
               [value]="'StudentStatuses.' + model.studentStatus.alternateName | translate" [ngClass]="{
                      'text-success': model.studentStatus.alternateName ==='active',
                      'text-danger': model.studentStatus.alternateName ==='erased',
                      'text-primary': model.studentStatus.alternateName ==='graduated',
                      'text-warning': model.studentStatus.alternateName ==='suspended',
                      'text-dark': (model.studentStatus.alternateName ==='declared' || model.studentStatus.alternateName ==='null'),
                      'text-info': model.studentStatus.alternateName ==='candidate'}">
      </div>
    </div>
  </div>
</form>
