<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.ActiveRequests'" class="mr-3 my-auto"></h5>
    <a href="#/students/{{studentId}}/dashboard/requests" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body py-0">
    <div id="group-list"  class="flex-column" *ngIf="lastRequests && lastRequests.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block px-4 text-left" [translate]="'Students.Title'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.Type'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Students.Status'"></div>
            <div class="sis--list-group-item_sm_column text-left"></div>`
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let request of lastRequests | slice:0:3;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ request?.dateModified | date:'short' }}</div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-secondary text-truncate px-4 text-left">{{ request?.description }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary text-left">{{ 'Forms.' + request?.additionalType | translate}}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left">
              <span [ngClass]="request?.actionStatus?.alternateName === 'ActiveActionStatus'? 'text-color-theme' :
                request?.actionStatus?.alternateName === 'CompletedActionStatus'? 'text-success' :
                request?.actionStatus?.alternateName === 'CancelledActionStatus'? 'text-danger' :
                request?.actionStatus?.alternateName === 'FailedActionStatus'? 'text-danger' :
                request?.actionStatus?.alternateName === 'PotentialActionStatus'? 'text-color-theme' : 'text-dark'">
                {{ 'ActionStatusTypes.' + request?.actionStatus?.alternateName | translate}}
              </span>
            </div>
            <div class="sis--list-group-item_sm_column text-right">
              <a href="#/requests/{{ request?.id }}/edit" class="text-primary text-decoration-none"
                 [translate]="'Students.View'"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3"  *ngIf="!lastRequests || lastRequests.length == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
  <div class="card-footer pt-0" *ngIf="lastRequests && lastRequests.length > 0">
    <div class="text-gray-600 mt-3">{{ lastRequests?.length }} <span [translate]="'Students.RequestToActive'"></span></div>
  </div>
</div>
