<div *ngIf="class">
  <div *ngIf="class.sections.length > 0">
    <div class="row mt-2" *ngFor="let section of class.sections;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
            {{section.name}}
          </card-header>
          <card-body>
            <ul class="sis--list-group sis--list-group-header">
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="sis--list-group-item_sm_column text-left" [translate]="'Classes.SectionName'"></div>
                  <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Classes.MaxNumberOfStudents'"></div>
                  <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Classes.Instructors'"></div>
                </div>
              </li>
            </ul>
            <ul class="sis--list-group sis--list-group-body">
              <li class="sis--list-group-item" >
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class="sis--list-group-item_sm_column text-left">{{ section.name }}</div>
                  <div class="sis--list-group-item_sm_column d-none d-lg-block text-left">{{ section.maxNumberOfStudents }}</div>
                  <div *ngIf="section.instructors && section.instructors.length>0" class="sis--list-group-item_sm_column d-none d-lg-block text-left">
              <span  *ngFor="let instructor of section.instructors; let isLast=last">
                <a href="#/instructors/{{instructor?.instructor?.id}}/dashboard/overview">{{ instructor.instructor.familyName }} {{ instructor.instructor.givenName }}{{isLast ? '' : ', '}}</a>
              </span>
                  </div>
                </div>
              </li>
            </ul>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="class.sections.length  === 0" class="card">
    <div class="card-body">
      <p class="card-text" [translate]="'Classes.NoSections'"></p>
    </div>
  </div>
</div>
