<form class="mt-3 collapsible-form ">
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="displayCode" [translate]="'Courses.displayCode'"></label>
        <input [disabled]="true" class="form-control bg-white" id="displayCode" name="displayCode" type="text"
               [(ngModel)]="model.displayCode">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="form-group text-dark">
        <label for="name" [translate]="'Courses.name'"></label>
        <input [disabled]="true" class="form-control bg-white" id="name" name="name" type="text"
               [(ngModel)]="model.name">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="subtitle" [translate]="'Courses.subtitle'"></label>
        <input [disabled]="true" class="form-control bg-white" id="subtitle" name="subtitle" type="text"
               [(ngModel)]="model.subtitle">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="isEnabled" [translate]="'Courses.IsEnabledLabel'"></label>
        <input [disabled]="true" class="form-control bg-white" id="isEnabled" name="isEnabled" type="text"
               [value]="(model.isEnabled ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="units" [translate]="'Courses.units'"></label>
        <input [disabled]="true" class="form-control bg-white" id="units" name="units" type="text"
               [(ngModel)]="model.units">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="ects" [translate]="'Courses.ects'"></label>
        <input [disabled]="true" class="form-control bg-white" id="ects" name="ects" type="text"
               [(ngModel)]="model.ects">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="isShared" [translate]="'Courses.Shared'"></label>
        <input [disabled]="true" class="form-control bg-white" id="isShared" name="isShared" type="text"
               [value]="(model.isShared ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="isLocal" [translate]="'Courses.isLocal'"></label>
        <input [disabled]="true" class="form-control bg-white" id="isLocal" name="isLocal" type="text"
               [value]="(model.isLocal ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="courseUrl" [translate]="'Courses.courseUrl'"></label>
        <input [disabled]="true" class="form-control bg-white" id="courseUrl" name="courseUrl" type="text"
               [(ngModel)]="model.courseUrl">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="replacedCourse" [translate]="'Courses.replacedCourse'"></label>
        <input [disabled]="true" class="form-control bg-white" id="replacedCourse" name="replacedCourse"
               type="text" [(ngModel)]="model.replacedCourse">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="replacedByCourse" [translate]="'Courses.replacedByCourse'"></label>
        <input [disabled]="true" class="form-control bg-white" id="replacedByCourse" name="replacedByCourse"
               type="text" [(ngModel)]="model.replacedByCourse">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="parentCourse" [translate]="'Courses.parentCourse'"></label>
        <input [disabled]="true" class="form-control bg-white" id="parentCourse" name="parentCourse"
               type="text" [(ngModel)]="model.parentCourse">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="coursePartPercent" [translate]="'Courses.coursePartPercent'"></label>
        <input [disabled]="true" class="form-control bg-white" id="coursePartPercent" name="coursePartPercent"
               type="text" [(ngModel)]="model.coursePartPercent">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="calculatedCoursePart" [translate]="'Courses.calculatedCoursePart'"></label>
        <input [disabled]="true" class="form-control bg-white" id="calculatedCoursePart" name="calculatedCoursePart"
               type="text" [value]="(model.calculatedCoursePart ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="calculatedInRegistration" [translate]="'Courses.calculatedInRegistration'"></label>
        <input [disabled]="true" class="form-control bg-white" id="calculatedInRegistration" name="calculatedInRegistration"
               type="text" [value]="(model.calculatedInRegistration ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="isCalculatedInScholarship" [translate]="'Courses.calculatedInScholarship'"></label>
        <input [disabled]="true" class="form-control bg-white" id="isCalculatedInScholarship" name="isCalculatedInScholarship"
               type="text" [value]="(model.isCalculatedInScholarship ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')  | translate">
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="form-group text-dark">
        <label for="maxNumberOfRemarking" [translate]="'Courses.maxNumberOfRemarking'"></label>
        <input [disabled]="true" class="form-control bg-white" id="maxNumberOfRemarking" name="maxNumberOfRemarking"
               type="text" [(ngModel)]="model.maxNumberOfRemarking">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group text-dark">
        <label for="notes" [translate]="'Courses.notes'"></label>
        <textarea [disabled]="true" class="form-control bg-white" id="notes" name="notes" type="text" [(ngModel)]="model.notes"></textarea>
      </div>
    </div>
  </div>
</form>
