<div>
  <div class="row">
     <!-- <div class="col-12" [ngVar]="{courseClassID: courseClassID}" #filter="ngVar">
          <app-advanced-table-search  #advancedSearch [(filter)]="filter.value" [collapsed]="false" [table]="instructors">
            <advanced-search>
            <app-classes-instructor-advanced-table-search [(filter)]="filter.value">
            </app-classes-instructor-advanced-table-search>
            </advanced-search>
          </app-advanced-table-search>
      </div>-->
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.Instructors'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.instructors && this.instructors.selected && this.instructors.selected.length"
           class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Classes.Remove'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Classes.AddInstructor'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <app-advanced-table #instructors (load)="onDataLoad($event)" [selectable]="true" [height]="600" [config]="config" [showfooter]="false"></app-advanced-table>
      </div>
  </div>
  <router-modal></router-modal>
</div>
